pipeline/pl_source_ingest.json
{
	"name": "pl_source_ingest",
	"properties": {
		"activities": [
			{
				"name": "env_config_lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_common_config",
						"type": "DatasetReference",
						"parameters": {
							"container": "datafactory-config",
							"directory": "avl/src_common/env_config_lookup",
							"fileName": "env_config.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "sourceConfigDetails",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "env_config_lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_common_config",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@activity('env_config_lookup').output.value[0]['config']['container']",
								"type": "Expression"
							},
							"directory": {
								"value": "@activity('env_config_lookup').output.value[0]['config']['source']['path']",
								"type": "Expression"
							},
							"fileName": {
								"value": "@activity('env_config_lookup').output.value[0]['config']['source']['filename']",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "error_msgs_lookup",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "sourceConfigDetails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_common_config",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@activity('env_config_lookup').output.value[0]['config']['container']",
								"type": "Expression"
							},
							"directory": {
								"value": "@activity('env_config_lookup').output.value[0]['config']['error']['path']",
								"type": "Expression"
							},
							"fileName": {
								"value": "@activity('env_config_lookup').output.value[0]['config']['error']['filename']",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"folder": {
			"name": "source"
		},
		"annotations": []
	}
}