pipeline/pl_source_ingest.json
{
	"name": "pl_source_ingest",
	"properties": {
		"activities": [
			{
				"name": "env_config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_env_config",
						"type": "DatasetReference",
						"parameters": {
							"Container": "datacon",
							"Directory": "source_common/source_config",
							"FileName": "source_config.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "getsourceconfigdetails",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "env_config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_env_config",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@activity('env_config').output.value[1]['config']['container']",
								"type": "Expression"
							},
							"Directory": {
								"value": "@activity('env_config').output.value[1]['config']['source']['path']",
								"type": "Expression"
							},
							"FileName": {
								"value": "@activity('env_config').output.value[1]['config']['source']['filename']",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"folder": {
			"name": "source"
		},
		"annotations": []
	}
}